<h1>{{ user.first_name }} {{ user.last_name }} [{{ user.id }}]</h1>

<ul class="list-group">
    <li class="list-group-item"><strong>Email: </strong> {{ user.email }}</li>
    <li class="list-group-item"><strong>Phone no.: </strong> {{ user.phone }}</li>
</ul>

<a href="/" class="btn btn-secondary float-left">Back</a>

<form action="/users/{{user.id}}?_method=delete" method="post">
    <!--<input type="hidden" name="_method" value="delete">-->
    <input type="submit" class="btn btn-danger float-right" value="Delete">
</form>
